.vscode/
.idea/
__pycache__/
.pytest_cache
/tests/.pytest_cache/
.ipynb_checkpoints

/dist/
/.eggs/
/build/
/pciSeq.egg-info/
/pciSeq/static/2D/data/
notebooks/label_image.coo.npz
notebooks/scRNAseq.csv.gz
notebooks/spots.csv
run_app.py
