@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #ECF0F1;
}

#preloader {
  /*background: #ECF0F1;*/
  padding: 0px;
  color: #444;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

#percent, #percent2, #percent3 {
  /*display: block;*/
  /*width: 160px;*/
  /*border: none;//1px solid #CCC;*/
  /*border-radius: 5px;*/
  /*margin: 50px;*/
  /*!*padding: 10px;*!*/
  color: #1ABC9C;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 15px;
  text-align: center;
}

.meter {
  color: #1ABC9C;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 14px; /* controls the format of the numbers under the donut */
  text-align: center;
}

#donut {
  display: block;
  margin: 0px auto;
  color: #1ABC9C;
  font-size: 20px;
  text-align: center;
}

p.pieLabel {
  max-width: 600px;
  margin: 12px auto;
  font-weight: normal;
  /*font-family: sans-serif;*/
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  /*font-size: 16px;*/
  font-size: 16px; /* controls the font-size of the text under the donut */
}

code {
  background: #FAFAFA;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0px 4px;
}

.donut-size {
  font-size: 6em; /*controls the progress donut size*/
}

.pie-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0px auto;
}
.pie-wrapper .pie {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}
.pie-wrapper .half-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0.1em solid #1abc9c;
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}
.pie-wrapper .right-side {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.pie-wrapper .label {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  display: block;
  background: none;
  border-radius: 50%;
  color: #7F8C8D;
  font-size: 0.25em;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}
.pie-wrapper .smaller {
  padding-bottom: 20px;
  color: #BDC3C7;
  font-size: 0.45em;
  vertical-align: super;
}
.pie-wrapper .shadow {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}

#specificChart, specificChart2{
  /*float:left;*/
}

.aligned-middle {
  margin-top: 25% !important;
  margin-bottom: 25% !important;
}

.stack-top {
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}

#wait_chart {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 25px;
  color: #1ABC9C;
  /*border: 2px dashed #f69c55;*/
}